<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    
  <test thread-count="5" name="Test1">
    <classes>
      <class name="API_Entry.GetEntriesTest"/>
      <class name="API_Entry.AddToCartTest"/>
    </classes>
  </test> <!-- Test -->
  
 <!--  <test thread-count="5" name="Test2">
    <classes>
      <class name="API_Entry.SignupTest"/>
      <class name="API_Entry.ViewProductTest"/>
    </classes>
  </test> --> 
   
</suite> <!-- Suite -->

